{
    "env": {
        "browser": true,
        "amd": true
    },
    "globals": {
        "Backbone": true,
        "_": true,
        "$": true,
        "jQuery": true
    },
    "rules": {
        "quotes": 0,
        "no-unused-vars": [1, {"vars": "local", "args": "none"}]
    }
}
